.cls-1 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3 {
  fill: #79c906;
}

.cls-4 {
  fill: #9c3;
}

.cls-5 {
  fill: #669934;
}

.cls-6 {
  fill: #48a820;
}

.cls-7 {
  fill: #1f8637;
}
